@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");

.login {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap-reverse;
    z-index: 15;
    background-color: #F9E6D6;
    transform: translateY(-100%);
}

.login .login-showcase {
    background-image: url('../static/banks_of_the_seine_at_jenfosse.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login .login-data {
    width: 100%;
}

.login .login-data .button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.login .login-data .button-container .button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #F9E6D6;
    background-color: transparent;
    background-image: url('../static/ico/next-black.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.login .login-data .regiter-link {
    width: 100%;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    text-decoration-line: underline;
    color: #515151;
}

.login .login-data form {
    width: 100%;
    padding-left: 10px; /*200*/
    padding-right: 10px; /*200*/
}

.login .login-data .data-container {
    width: 100%;
}

.login .login-data .data-container .input-container {
    width: 100%;
    padding: 0px; /*20*/
    display: block;
}

.login .login-data .data-container .input-container .label {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 20px; /*30*/
    line-height: 37px;
    padding-bottom: 0px; /*20*/
    color: #151515;
}

.login .login-data .data-container .input-container input {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px; /*20*/
    line-height: 37px;
    color: #151515;
    background-color: transparent;
    border: 1px solid #F9E6D6;
    border-bottom: 1px solid #151515;
}

.login .login-data .margin-title {
    color: #DBCFBD;
    border-bottom: 1px solid #DBCFBD;
    clip-path: none;
}

.login .login-data .margin-title-rev {
    clip-path: none;
}

.login .login-flex {
    flex: 1;
    min-width: 320px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 320px) {
    .login .login-data .button-container .button {
        width: calc(50px + 50 * (100vw - 320px) / 1600);
        height: calc(50px + 50 * (100vw - 320px) / 1600);
    }

    .login .login-data .button-container {
        padding-bottom: calc(20px + 20 * (100vw - 320px) / 1600);
    }

    .login .login-data .regiter-link {
        font-size: calc(12px + 8 * (100vw - 320px) / 1600);
    }

    .login .login-data .data-container .input-container .label { 
        font-size: calc(70px + 130 * (100vw - 320px) / 1600);
    }

    .login .login-data form {
        padding-left: calc(10px + 190 * (100vw - 320px) / 1600);
        padding-right: calc(10px + 190 * (100vw - 320px) / 1600);
    }

    .login .login-data .data-container .input-container {
        padding: calc(0px + 20 * (100vw - 320px) / 1600);
    }

    .login .login-data .data-container .input-container .label {
        font-size: calc(20px + 10 * (100vw - 320px) / 1600);
        padding-BOTTOM: calc(0px + 20 * (100vw - 320px) / 1600);
    }

    .login .login-data .data-container .input-container input {
        font-size: calc(16px + 4 * (100vw - 320px) / 1600);
    }
}
