@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");

.login {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 15;
    transform: translateY(-100%);   
    background-color: #F9E6D6;
    overflow-y: auto;
}

.login .login-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap-reverse;
}

.login .login-container .login-showcase {
    background-image: url('../static/banks_of_the_seine_at_jenfosse.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login .login-container .login-data {
    width: 100%;
}

.button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.button-container .button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0px solid #F9E6D6;
    background-color: transparent;
    background-image: url('../static/ico/next-black.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.login .login-container .login-data .register-link {
    width: 100%;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    text-decoration-line: underline;
    color: #515151;
}

.login .login-container .login-data form {
    width: 100%;
    padding-left: 10px; /*200*/
    padding-right: 10px; /*200*/
}

.data-container {
    width: 100%;
}

.data-container .input-container {
    width: 100%;
    padding: 0px; /*20*/
    display: block;
}

.data-container .input-container .label {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 20px; /*30*/
    line-height: 37px;
    padding-bottom: 0px; /*20*/
}

.data-container .input-container input {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px; /*20*/
    background-color: transparent;
    border: 0px solid #F9E6D6;
    text-align: center;
}

.login .data-container .input-container {
    color: #151515;
}

.login .data-container .input-container input {
    border-bottom: 1px solid #151515;
}

.login .login-container .login-data .margin-title {
    color: #DBCFBD;
    border-bottom: 1px solid #DBCFBD;
}

.login .login-container .login-flex {
    flex: 1;
    min-width: 320px;
    min-height: 600px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-data {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 15;
    transform: translateY(100%);
    background-color: #C4C4C4;
    overflow-y: auto;
}

.account-data {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 15;
    transform: translateY(100%);
    background-color: #C4C4C4;
    overflow-y: auto;
}

.register-data form, .account-data form {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.register-data .data-container, .account-data .data-container {
    padding-left: 10px; /*200*/
    padding-right: 10px; /*200*/
}

.left-panel {
    background-color: #515151;
}

.left-panel .data-container .input-container {
    color: #C4C4C4;
}

.left-panel .data-container .input-container input {
    color: #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
}

.right-panel .data-container .input-container {
    color: #151515;
}

.right-panel .data-container .input-container input {
    border-bottom: 1px solid #151515;
}

.right-panel {
    position: relative;
    background-color: #C4C4C4;
    overflow: hidden;
}

.right-panel .history-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #F9E6D6;
    transform: translateY(100%);
    overflow: scroll;
}

.right-panel .history-container .history-element .history-date {
    width: fit-content;
    padding: 20px 50px;
    border-bottom-right-radius: 20px;
    background-color: #515151;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 49px;
    text-align: center;
    color: #F9E6D6;
}

.right-panel .history-container .history-element .history-items {
    padding: 10px;
}

.right-panel .history-container .history-element .history-item {
    height: 80px;
    margin: 10px;
    display: flex;
}

.right-panel .history-container .history-element .history-item img {
    width: 80px;
    height: 100%;
    border-radius: 10px;
}

.right-panel .history-container .history-element .history-item .item-details-container {
    width: calc(100% - 100px);
    height: 100%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.right-panel .history-container .history-element .history-item .item-details-container .item-details {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #151515;
}

.right-panel .history-container .history-element .history-item .item-details-container .item-details .item-price {
    text-align: right;
    padding-top: 0px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: center;
}

.right-panel .history-container .history-element .history-item .item-details-container .item-details .item-price span {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    color: #151515;
}

.flex-panel {
    flex: 1;
    min-width: 320px;
    min-height: 600px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-data .arrow-container {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

.link-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-container input, .link-container div {
    text-align: center;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    background-color: transparent;
    text-decoration-line: underline;
    color: #515151;
    border: 0px solid #F9E6D6;
}

.link-container div {
    color: #C4C4C4;
}


@media screen and (min-width: 320px) {
    .button-container .button {
        width: calc(50px + 50 * (100vw - 320px) / 1600);
        height: calc(50px + 50 * (100vw - 320px) / 1600);
    }

    .button-container {
        padding-bottom: calc(20px + 20 * (100vw - 320px) / 1600);
    }

    .login .login-data .regiter-link {
        font-size: calc(12px + 8 * (100vw - 320px) / 1600);
    }

    .data-container .input-container .label { 
        font-size: calc(70px + 130 * (100vw - 320px) / 1600);
    }

    .login .login-data form {
        padding-left: calc(10px + 190 * (100vw - 320px) / 1600) !important;
        padding-right: calc(10px + 190 * (100vw - 320px) / 1600) !important;
    }

    .data-container .input-container {
        padding: calc(5px + 15 * (100vw - 320px) / 1600);
    }

    .data-container .input-container .label {
        font-size: calc(20px + 10 * (100vw - 320px) / 1600);
        padding-bottom: calc(5px + 15 * (100vw - 320px) / 1600);
    }

    .data-container .input-container input {
        font-size: calc(16px + 4 * (100vw - 320px) / 1600);
    }

    .register-data .data-container, .account-data .data-container {
        padding-left: calc(10px + 190 * (100vw - 320px) / 1600);
        padding-right: calc(10px + 190 * (100vw - 320px) / 1600);
    }

    .link-container input, .link-container div {
        font-size: calc(12px + 8 * (100vw - 320px) / 1600);
    }

    .right-panel .history-container .history-element .history-items {
        padding: calc(10px + 40 * (100vw - 320px) / 1600);
    }

    .right-panel .history-container .history-element .history-item {
        height: calc(80px + 120 * (100vw - 320px) / 1600);
    }
    
    .right-panel .history-container .history-element .history-item img {
        width: calc(80px + 120 * (100vw - 320px) / 1600);
    }

    .right-panel .history-container .history-element .history-item .item-details-container {
        padding-left: calc(20px + 30 * (100vw - 320px) / 1600);
    }
    
    .right-panel .history-container .history-element .history-item .item-details-container .item-details {
        font-size: calc(20px + 20 * (100vw - 320px) / 1600);
        line-height: calc(20px + 19 * (100vw - 320px) / 1600);
    }
    
    .right-panel .history-container .history-element .history-item .item-details-container .item-details .item-price {
        padding-top: calc(0px + 50 * (100vw - 320px) / 1600);
        font-size: calc(15px + 5 * (100vw - 320px) / 1600);
    }
    
    .right-panel .history-container .history-element .history-item .item-details-container .item-details .item-price span {
        font-size: calc(10px + 5 * (100vw - 320px) / 1600);
        line-height: calc(20px + 19 * (100vw - 320px) / 1600);
    }
}

@media screen and (max-width: 1000px) {
    .login .login-flex {
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }

    .login .login-flex:nth-child(2n+1) {
        /*filter: contrast(0.2);*/
        filter: brightness(0.5);
    }

    .login .data-container .input-container .label {
        color: #F9E6D6;
    }
    
    .login .data-container .input-container input {
        color: #F9E6D6;
        border-bottom: 1px solid #F9E6D6;
    }

    .login .login-container .login-data .close-ico, .login .button-container .button {
        filter: invert(100%);
    }

    .login .login-data .register-link {
        color: #DBCFBD;
    }
}